@import 'normalize';
@import 'animate';

$dark: #424652;
$light: #9a9da4;
$highlight: #6D7993; 
$white: #FFFFFF;
$border: #E9E9E9;
$purple: #96858F;
$navy: #6D7993;
$metal: #9099A2;
$paper: #F7F7F7;

// --- Main application style ---//
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}
body{
  // font-family: 'Raleway', sans-serif;
  font-family: 'Varela Round', sans-serif;
  background-color: #F7F7F7;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: $navy;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
#page_heading{
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 740px;
  z-index: 10;

  // text-align: center;
  // border-bottom: 1px solid $border;
  // padding: 3em 0;
  font-size: 2.3rem;
  text-transform: uppercase;
  
}
::-moz-selection{
  background-color:$metal;
  color: $white;
}

::selection{
  background-color:$metal;
  color: $white;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}
.banner{
  background-color: $light;
  margin-top: -28px;
  h1{
    color: $white;
  }
}

.skinny_wrapper{
  width:80%;
  max-width: 760px;
  margin: 0 auto;
}
.wrapper_padding{
  padding: 2rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden{
  display: none;
}

.notice{
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid $border;
  color: #35d37c;
}

.alert{
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid $border;
  color: #ff0000;
}

.menu{
  display: none;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
  color:$dark;
}

h1{
  font-size:2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.375rem;
}
h5{
  font-size: 1.25rem;
}
h6{
  font-size: 1rem;
}

p, li{
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol{
  margin: 0 0 1.6em 0;
}

.my_image{
  width: 35%;
  margin: 0 1.5rem 0 0;
  float: left;

}
hr{
  width: 6em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}
#main_navigation {
  padding: 1.3em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav {
    float: right;
    padding-top: 1.3rem;

    a {
    color: $dark;
    text-decoration: none;
    position: relative;
    margin: 0 1rem;
    font-size: 1.4rem;
      &:hover:after{
        width: 100%;
      }
    }
    a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid $dark;
      transition: 0.4s;
    }
  }
}
//---- Contact ---- //
.about_me{
    background-color:$white;
    border: 1px solid $border;
    // margin: 0.7rem 0;
    padding: 3.5rem;
}

.email_message{
  text-align: center;
  padding: 3em 0;
  font-size: 1.3rem;
  text-transform: uppercase;
}

#page_title{
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 3em 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  
}

#main_footer{
 padding: 2.9em 5%;
 border-top: 1px solid $border; 
 background-color: $border;
   .copyright{
      float:left;
      font-size: .9em;
      margin: 0;
   }
  nav{
    float:right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
    &:hover {
      color: $highlight;
    }
    }
  }
}
.below_footer{
  background-color: $metal;
  padding: 0.7em 0;
  .power_by{
      text-align: center;
      font-weight: 400;
      font-size: 0.87em;
      margin-bottom: -5px;
      a{
        color: $border;
        text-decoration: none;
        font-style: italic;
        &:hover{
          color: $border;
        }
      }
  }
}
input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 100%;
  max-width: 100%;
  height: 3em;
  background: $paper;
  border: none;
  border-bottom: 2px solid $border;
  padding: 1em;
  margin: .5em 0 2em 0;
  &:focus{
  outline: none !important;
  border-bottom: 2px solid $dark;
  }
}

textarea{
  min-height:16em;
}

input[type="submit"], .button{
  outline: none;
  background: $paper;
  border: 2px solid $border;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: $dark;
  padding: 1em 2em;
  &:hover{
    border: 2px solid $highlight;
    color: $highlight;
  }
}

.project_button{
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.button_wrapper{
  margin: 4em 0 0 0;
  text-align: center;
}
@import 'welcome';
@import 'posts_projects';
@import 'pygments';
@import 'animate';

// -- Responsive design for Ipads/Tablets -- //
@media only screen and (max-width: 788px){
  #main_nav {
  a{
    display: none;
  }
  }
  .menu{
    border:none;
    display: block;
    float: right;
    background-color: transparent;
    outline: none;
    i{
      font-size: 1.6em;
      color: $dark;

    }
  }
  #main_nav.active{
    display: block;
    width: 100%;
    a{
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid $dark;
      &:last-child {
        border-bottom: none;
      }
    }
  }

//------ Welcome Page responsive -----//
.col-1, .col-2, .col-3{
  float: left;
}

.col-1{
  width: 45%;
  padding: 0 5% 0 2.5%;
  p{
    font-size: 0.95em;
  }
}

.col-2,.col-3{
  width: 26.5%;
  padding: 0 2.5%;
}

.homepage_content{
  h2{
    font-size: 1rem;
    text-transform: uppercase; 
    font-weight: bold;
  }
  h3{
    font-size: 0.99em;
    font-weight: 400;
    margin-bottom: .5em
  }
  a{
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight
    }
  }
  .date{
    font-size: 0.75em;
    margin-bottom: 2em;
    color: $light;
  }
  p{
    margin: 0 0 .5em 0;
    font-size: 0.96rem;
  }
}
.about{
  padding: 0 7.5% 0 0;
}
}

// --- Phone/mobile screen size ---//

@media only screen and (max-width: 488px){
.my_image{
  width: 80%;
  margin-bottom: 1.5rem;
}
  #main_nav {
  a{
    display: none;
    font-size: 0.98;
  }
  }
  .menu{
    display: block;
    float: right;
    i{
      font-size: 1.6em;
      color: $dark;
      padding-top: 1rem;
    }
  }
  #main_nav.active{
    display: block;
    width: 100%;
    a{
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: none;
      }
    }
  }

//------ Welcome Page responsive -----//
.col-1, .col-2, .col-3{
  float: none;
}

.col-1{
  width: 85%;
  p{
    font-size: 1.2em;
  }
  .heading{
    padding-bottom: 10px;
  }
}

.col-2,.col-3{
  width: 85%;
  padding: 0 0;
}
.homepage_content{
  margin-left: 2.3em;
  h2{
    padding-top: 0.89em;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase; 
  }
  h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5em
  }
  a{
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight
    }
  }
  .date{
    font-size: 0.75em;
    margin-bottom: 2em;
    color: $light;
  }
  p{
    margin: 0 0 .5em 0;
    font-size: 0.98rem;
  }
}
.about{
  padding: 0 7.5% 0 0;
}
#main_footer{
 padding: 2.9em 5%;
 border-top: 1px solid $border; 
 background-color: $border;
 text-align:center;
   .copyright{
      float:none;
      font-size: .9em;
      margin: 0;
   }
  nav{
    float:none;
    padding: 1em 0;
    margin-left: -17px;
    i {
      color: $dark;
    &:hover {
      color: $highlight;
    }
    }
  }
}
.about_me{
    background-color:$white;
    border: 1px solid $border;
    padding: 2rem;
    p{
      font-size: 0.97em;
    }
}
}
