$dark: #424652;
$light: #9a9da4;
$highlight: #6D7993; 
$white: #FFFFFF;
$border: #E9E9E9;

// --- WelcomePage Styling so that main image has different styles -- //
.overlayer{
  opacity: 0.99;
  .background-image{
    background:url("59th_street.jpg") no-repeat center center;
    // height: 38rem;
      height: 100vh;
    z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}
.slogan{
  text-align: center;
  font-size: 1.9em;
  font-weight: 700;
  color: $white;
  font-size:2.8em;
  padding: 8% 10%;
  margin-top: 2.5rem;
  letter-spacing: 3px;
}
.slogan:before{
  content: "Digestible Data-Driven Insights";
}
#main_navigation {
  padding: 1.3em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $white;
    float: left;
  }
  nav {
    float: right;
    padding-top: 1.3rem;

    a {
    color: $white;
    text-decoration: none;
    position: relative;
    margin: 0 1rem;
    font-size: 1.4rem;
      &:hover:after{
        width: 100%;
      }
    }
    a:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid $white;
      transition: 0.4s;
    }
  }
}
// --- Tablets/Ipads screen size ---//

@media only screen and (max-width: 788px){
  .slogan.hide{
    display: none;
  }

  .slogan:before{
    content: "Digestible Data-Driven Insights";
    text-align: center;
    margin-top: -2em;
    font-size:0.7em;
    font-weight: 400;
    color: $white;
    letter-spacing: 3px;
  }
    #main_nav {
    a{  
      display: none;  
    }
  }
  .menu{
    display: block;
    float: right;
    i{
      font-size: 1.6em;
      color: $white;
      padding-top: 1rem;
    }
  }
    #main_nav.active{
    display: block;
    width: 100%;
    a{
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// --- Phone/mobile screen size ---//
@media only screen and (max-width: 488px){
  .slogan.hide{
    display: none;
  }
  .slogan{
    text-align: center;
  }
  .slogan:before{
    content: "Digestible Data-Driven Insights";
    font-size:0.5em;
    font-weight: 400;
    color: $white;
    letter-spacing: 3px;
  }
}
