.overlayer{
  opacity: 0.6;
  .background-image{
    background:url("https://65.media.tumblr.com/56e15d82cbaf15faeeff933a1cbc48c8/tumblr_o1ybu8SwU51ubupxao1_1280.jpg") no-repeat center center;
    height: 40rem;
    z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}